{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Untitled Dungeon Crawler Game{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'game/styles.css' %}" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block script %}
        {% endblock %}
    </head>
    <body>

        <a href="{% url 'index' %}"><span id="first-line">Untitled</span><br><span id="second-line">Dungeon Crawler Game</span></a>

        <div id="navigation">

            {% if user.is_authenticated %}
                <div>
                    <span id="third-line">Hello {{ request.user }}!</span>
                    <a class="btn btn-light" href="{% url 'logout' %}">Log Out</a>    
                </div>
        
            {% else %}
                <a class="btn btn-light" href="{% url 'login' %}">Log In</a>
    
                <a class="btn btn-light" href="{% url 'register' %}">Register</a>
    
            {% endif %}
    
        </div>

        {% block body %}

        {% endblock %}

    </body>
</html>