.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    background-color: #2196F3;
    margin: 0 5vw;
    width: 90vw;
    height: 90vw;
  }
  
.grid-item {
  display: grid;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  width: 9vw;
  height: 9vw;
}

.grid-item button, img{
  width: 9vw;
  height: 9vw;
  border: none;
  background: none;
  padding: 0px;
}

.square0, .square1, .square2 {
  background-color: green;
}

.square3, .square4, .square5 {
  background-color: brown;
}

#game-list {
  display: block;
}

#game-list > div {
  display: inline-block;
}

#player-icon {
  background-image: url("https://pbs.twimg.com/profile_images/1183790642838855687/s-gWXpQG_400x400.jpg");
  background-size: 9vw;
}