@keyframes key {
  0% {
    background-color: none;
  }
  1% {
    background-image: url("https://pbs.twimg.com/profile_images/1183790642838855687/s-gWXpQG_400x400.jpg");
    background-position-y: 25vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  99% {
    background-image: url("https://pbs.twimg.com/profile_images/1183790642838855687/s-gWXpQG_400x400.jpg");
    background-position-y: 0vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background-image: none
    }
}

@keyframes hole {
  0% {
    background-color: none;
  }
  1% {
    background-image: url("https://pbs.twimg.com/profile_images/1183790642838855687/s-gWXpQG_400x400.jpg");
    background-position-y: 0vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  99% {
    background-image: url("https://pbs.twimg.com/profile_images/1183790642838855687/s-gWXpQG_400x400.jpg");
    background-position-y: 25vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background-color: none;
  }
}

body, head, a {
  background-color: #276ebd;
  color: white;
  text-align: center;
  font-family: helvetica, sans-serif;
}

#navigation {
  margin-top: 20px;
}

#first-line {
  font-size: 10vw;
  font-weight: bolder;
  line-height: 1;
}

#second-line {
  font-size: 3vw;
  font-weight: bolder;
  line-height: 1;
}

#third-line {
  font-size: 2vw;
}

#title {
  font-size: 2vw;
  display: block;
  margin-top: 30px;
}

a:hover {
  text-decoration: none;
  color: yellow;
}

.index-table {
  max-height: 100px;
  overflow: auto;
  width: max-content;
  text-align: left;
  background-color: lightskyblue;
  margin: auto;
  padding: 5px 10px;
  border-radius: 10px;
}

.grid-game, .grid-keys {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    margin: 0px 10vw;
  }
  
.grid-item {
  display: grid;
  border: 1px solid black;
  position: relative;
  padding-bottom: 100%;
}

.grid-item button, .grid-item svg {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  position: absolute;
}

.square0, .square1, .square2 {
  background-color: green;
}

.square3 {
  background-color: brown;
}

.square4 {
  background-color: black;
}

.key-cheat {
  border: 1px solid blue;
}

.hole-cheat {
  border: 1px solid red;
}

.key-animation {
  animation-name: key;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.hole-animation {
  animation-name: hole;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#game-list {
  display: block;
  border: 2px solid white;
  margin: 5px auto;
  padding: 0 5px;
  width: max-content;
}

#game-list > div {
  display: inline-block;
}

#player-icon {
  background-image: url("https://pbs.twimg.com/profile_images/1183790642838855687/s-gWXpQG_400x400.jpg");
  background-size: cover;
}