@keyframes key {
  0% {
    background-color: none;
  }
  1% {
    background-image: url("/static/images/key.svg");
    background-position-y: 25vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  99% {
    background-image: url("/static/images/key.svg");
    background-position-y: 0vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background-image: none
    }
}

@keyframes hole {
  0% {
    background-color: none;
  }
  1% {
    background-image: url("/static/images/goose_fall.svg");
    background-position-y: 0vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  99% {
    background-image: url("/static/images/goose_fall.svg");
    background-position-y: 25vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background-color: none;
  }
}

@media (min-width: 600px) {
  #first-line {
    font-size: 135px;
  }
  
  #second-line {
    font-size: 43px;
  }

  #third-line, #title {
    font-size: 30px;
  }

  .index-table {
    width: 600px;
  }

  #game-list div {
    display: inline;
  }
}

@media (max-width: 599px) {
  #first-line {
    font-size: 20vw;
  }
  
  #second-line {
    font-size: 6.5vw;
  }

  #third-line, #title {
    font-size: 20px;
  } 
  
  .index-table {
    width: 90vw;
  }

  #game-list div {
    display: block;
  }
}

#first-line, #second-line {
  font-weight: bolder;
  line-height: 1;
}

#title {
  display: block;
  margin-top: 30px;
}

#third-line {
  vertical-align: middle;
}

#game-list svg {
  max-width: 20px;
  height: auto;
}

body, head, a {
  background-color: black;
  color: white;
  text-align: center;
  font-family: helvetica, sans-serif;
}

#navigation {
  margin-top: 20px;
}

.form-group {
  display: inline;
  margin: 10px;
}

a:hover {
  text-decoration: none;
  color: yellow;
}

.index-table {
  max-height: 100px;
  overflow: auto;
  text-align: left;
  background-color: orangered;
  margin: auto;
  padding: 5px 10px;
  border-radius: 10px;
}

.grid-game, .grid-keys {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    margin: 0px 10vw;
  }
  
.grid-item {
  display: grid;
  border: 1px solid black;
  position: relative;
  padding-bottom: 100%;
}

.grid-item button, .grid-item svg {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  position: absolute;
}

#start {
  background-image: url("/static/images/start.svg");
  width: 8vw;
  height: 8vw;
  margin: 0px auto 0px 10vw;
}

#end {
  background-image: url("/static/images/end.svg");
  width: 8vw;
  height: 8vw;
  margin: 0px 10vw 0px auto;
}

.square0, .square1, .square2 {
  background-image: url("/static/images/unvisited.svg");
  background-size: cover;
}

.square3 {
  background-image: url("/static/images/visited.svg");
  background-size: cover;
}

.square4 {
  background-image: url("/static/images/hole.svg");
  background-size: cover;
}

.key-cheat {
  border: 1px solid blue;
}

.hole-cheat {
  border: 1px solid red;
}

.key-animation {
  animation-name: key;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.hole-animation {
  animation-name: hole;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#game-list {
  display: block;
  border: 2px solid white;
  margin: 5px auto;
  padding: 0 5px;
}


#player-icon {
  background-image: url("/static/images/goose.svg");
  background-size: cover;
}